@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@500&family=Roboto+Condensed:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color: red;
}

.cursor-1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 1rem;
    width: 1rem;
    background: var(--main-color); 
    border: .1rem solid var(--main-color);
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    padding: 1rem;
}

.cursor-2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 1rem;
    width: 1rem;
    border: .1rem solid var(--main-color);
    pointer-events: none;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
    transition: .3s linear;
    padding: 3rem;
}

header {
    width: 100%;
    background-color: rgb(234, 240, 240);
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-around; 
    align-items: center;
}

header div .nome {
    color: black;
    font-family: 'Poppins', sans-serif;
    display: block;
}

header .navbar li a {
    color: rgb(74, 69, 69);
    font-family: sans-serif;
}

.content .container {
    display: flex;
    justify-content: center;
}

.content .container img {
    width: 20%;
    border-radius: 50%;
    margin-top: 80px;
}

.meu-nome {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.front-end {
    text-align: center;
    font-family: sans-serif;
    color: black;
}

.botao a {
    text-align: center;
}






